.detail {padding: 10rem 20rem;  }
/* .h3 {
    text-align: center;
    margin-bottom: 2rem;
} */
.detailWrap {
    display: flex;
    border-bottom: 0.1rem solid #ddd;
    padding: 0 0 5rem 0;
}
.imgWrap img {width: 80%;}
.imgWrap {width: 50%; display: flex; justify-content: center}
.text {
    width: 50%;
    border-top: 0.3rem solid #000000;
}
.h4 {color: #333; margin-bottom: 1rem; font-size: 1.8rem;}
.descriptionBox {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.description {
    display: flex;
    padding-bottom: 1rem;
    padding: 2.4rem 0;
    padding-right: 3.4rem;
    line-height: 2.6rem;
    font-size: 2rem;
    font-weight: 600;
    color: #000000;
}
.likeBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 85px;
    border-left: 1px solid #e4e4e4;
}



.like>button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 40px;
    min-height: 25px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    color: #000000;
    border: none;
    background: #fff;
}
.like>button>svg {
    width: 26px;
    height: 26px;
}
.star_box {
    float: left;
    margin-bottom: 24px;
    margin-top: 3px;
}
.star_box>.star {
    margin-right: 12px;
}
.star_box>.star>.stars {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.star_box>.star>.stars>i {
    position: relative;
    display: inline-block;
    line-height: 0;
    margin-right: 0.2rem;
}
.star_box>.star>.stars>i>svg>i {
    overflow: hidden;
    position: absolute;
    display: inline-block;
    line-height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.review {
    display: inline;
    height: 1.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #5d5d5d;
    border-bottom: 0.5px solid #5d5d5d;
}
.price {margin-bottom: 1rem; clear: both; font-size: 2.2rem;
    font-weight: 600;
    color: #ff4800;}
.card {
    margin-top: 0.4rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #5d5d5d;
}
.data {
    position: relative;
}
.data .input {
    border: 1px solid rgb(212, 212, 212);
    display: block;
    width: 100%;
    outline: none;
    height: 36px;
    padding: 0px 30px 0px 14px;
    font-size: 13px;
    background: transparent;
    color: #000;
    cursor: pointer;
    margin-top: 1rem;
}

.data>svg {
    position: absolute;
    top: 50%;
    right: 14px;
    width: 12px;
    height: 6px;
    margin-top: -4px;
    line-height: 6px;
    vertical-align: top;
    pointer-events: none;
    box-sizing: border-box;
}
.cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;

}

.detailimage{width: 100%;}
.css-dgdhjg {
display: none;
}

/* Show the ul when the input is focused */
.css-input:focus + ul {
display: block;
}
.dilivery {margin-bottom: 1rem;}
.detail1 {
    width: 70%;
    margin: 5rem auto;
}
.detail1 img {width: 100%;}
.input {width: 100%; display: inline-block;}